.footer{
    margin-top: 320px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_footer{
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 768px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
  }